<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>    
    <header>     
        <div class="main-header">
            <div class="container-flex">
                <div class="main-header__container"> 
                  <a href="/"><img class="main-header__img" src="images/logo-dCompras-01.svg" alt="Logo dCompras"></a>       
                </div>                               
            </div>            
        </div> 
    </header>
    <div class="banner-psc">
        <img src="images/carrusel3.jfif" alt="Banner">
    </div>   
    <main>
     <section class="productCart">
        <h2>Tu Carrito</h2>

       <div class="cart-container">
        <div class="cart-item-container">   
           
          <div class="arrow-item">
            <div class="img-cart">
                <div><img src="images/pexels-erik-mclean-4061385.jpg"></div>
            </div>
            <ul>
               <li>Zapatillas Erik McLean</li>
               <li>Talle: 42</li>
               <li>Cantidad: 1</li>
            </ul>
            <h4 class="cart-item-price">$ 4000,00</h4>
         </div>
        
         <div class="arrow-item">
            <div class="img-cart">
                <div><img src="images/demo-product-1.jpg"></div>
            </div>
            <ul>
               <li>Zapatillas Grand Court Se -blanco adidas</li>
               <li>Talle: 42</li>
               <li>Cantidad: 1</li>
            </ul>
            <h4 class="cart-item-price">$ 3000,00</h4>
         </div>

        </div>

        <div class="aside-cart-container">
          <button class="btn primary-btn">Ir a pagar</button>
          <ul>
              <li>
                  <span>C/Productos</span>
                  <span>2</span>
              </li>
              <li>
                <span>Entrega</span>
                <span>Gratis</span>
             </li>
             <li>
                <span>TOTAL</span>
                <span>$ 7000,00</span>
             </li>
          </ul>
        </div>
      </div>
     </section>
    </main>    
    <%- include('../partials/footer') %>
</body>
</html>