<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pegasus Sport Center</title>    
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/cartDetail.css">
</head>
<body>
    <header>
        <!-- https://www.sportline.com.ar/    -->
        <!-- https://www.stockcenter.com.ar/home -->
        <!-- Encabezado -> Logo + barra de búsqueda -->
        <div class="main-header">
            <div class="container container-flex">
                <!-- class -> se puede repetir se usasn en CSS / ID -> son unicos, se usan en JS -->
                <div class="main-header__container"> 
                    <img class="main-header__img" src="images/dCompras-1-C.png" alt="Logo dCompras">       
                    <!-- <h1 class="main-header__title">dCompras</h1>  -->
                    <span class="icon-menu" id="btn-menu"><i class="fas fa-bars"></i></span>                
                </div>             
                <div class="main-header__container">
                    <span class="main-header__txt">Ayuda</span>
                    <p class="main-header__txt"> <i class="fas fa-phone"></i>  Tel +54 011-123456</p>                
                </div>  
                <div class="main-header__container">
                    <a href="/register" target="_blank" class="main-header__link__txt"> Inicia Sesión  |  Registrate </a> 
                    <a href="/register" target="_blank" class="main-header__link"><i class="fas fa-user"></i></a> 
                    <a href="#" target="_blank" class="main-header__btn">Mis Compras  | <i class="fas fa-shopping-cart"></i></a>
                    <input type="search" class="main-header__input" placeholder="Buscar producto..."><i class="fas fa-search"></i>
                </div>
            </div>
            <nav class="main-nav" id="main-nav">
                <!-- atajo EMET -> ul.menu>li.menu__item*5>a.menu__link -->
                <ul class="menu">
                    <li class="menu__item"><a href="#" class="menu__link">Categorias</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Ofertas</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Marcas</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Ayuda</a></li>
                    <!-- <li class="menu__item"><a href="" class="menu__link">Contacto</a></li> -->
                </ul>
            </nav>
        </div> 
    </header>
    <main>
      <section class="productCart">
        <h2>Tu Carrito</h2>

       <div class="cart-container">
        <div class="cart-item-container">   
           
          <div class="arrow-item">
            <div class="img-cart">
                <div><img src="images/pexels-erik-mclean-4061385.jpg"></div>
            </div>
            <ul>
               <li>Zapatillas Erik McLean</li>
               <li>Talle: 42</li>
               <li>Cantidad: 1</li>
            </ul>
            <h4 class="cart-item-price">$ 4000,00</h4>
         </div>
        
         <div class="arrow-item">
            <div class="img-cart">
                <div><img src="images/demo-product-1.jpg"></div>
            </div>
            <ul>
               <li>Zapatillas Grand Court Se -blanco adidas</li>
               <li>Talle: 42</li>
               <li>Cantidad: 1</li>
            </ul>
            <h4 class="cart-item-price">$ 3000,00</h4>
         </div>

        </div>

        <div class="aside-cart-container">
          <button class="btn primary-btn">Ir a pagar</button>
          <ul>
              <li>
                  <span>C/Productos</span>
                  <span>2</span>
              </li>
              <li>
                <span>Entrega</span>
                <span>Gratis</span>
             </li>
             <li>
                <span>TOTAL</span>
                <span>$ 7000,00</span>
             </li>
          </ul>
        </div>
      </div>
     </section>
    </main>
    <footer class="main-footer">
        <!-- Atajo EMET ->.footer__section*>h2.footer__title+p.footer_txt -->
        <div class="footer__section">
            <h2 class="footer__title">Interés</h2>
            <a href="#" class="footer__txt"><p class="footer__txt">Nike</p></a>
            <a href="#" class="footer__txt"><p class="footer__txt">Adidas</p></a>
            <a href="#" class="footer__txt"><p class="footer__txt">Puma</p></a>
            <!-- <p class="footer__txt">Tendencias</p>  -->
            <a href="#"><i class="footer__txt fab fa-twitter"> | </i></a>
            <a href="#"><i class="footer__txt fab fa-instagram"> | </i></a>
            <a href="#"><i class="footer__txt fab fa-facebook"></i></a>
        </div>
        <div class="footer__section">
            <h2 class="footer__title">Dirección :</h2>
            <p class="footer__txt">Segurola y Havana 4310, 7° Piso</p>
            <h2 class="footer__title">Contacto</h2>
            <p class="footer__txt">Teléfono: +54 011 123456</p>
            <p class="footer__txt">Correo: info@dventas.com</p>
        </div>        
        <div class="footer__section">
            <h2 class="footer__title">Ayuda</h2>
            <a href="" class="footer__link">Comprar</a>
            <!-- <a href="" class="footer__link">Home</a> -->
            <a href="" class="footer__link">Acerca de</a>
            <a href="" class="footer__link">Contactanos</a>
        </div>
        <div class="footer__section">
            <h2 class="footer__title">Subscripción:</h2>
            <p class="footer__txt">Subscribite a nuestro canal ....</p>
            <input type="email" class="footer__input" placeholder="Ingresá tu em@il ...">
        </div>
        </div>        
        <p class="copy">© 2021 dCompras. All Rigths Reserved | Design by Pegasus</p>
    </footer>
</body>
</html>