*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #444;
  }
  img{
    display: block;
    width: 100%;   
}
body{
    background-color: #fafafa;
}
/* ----MAIN HEADER----- */
.main-header{
    display: flex;
    padding: 30px 5px;
    background-color: #e9e9e9;    
}
.main-header__img{
    width: 80%;    
    border-left: 30px;
}
.main-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

/*CART DETAIL*/

section.productCart {
    margin-top:20px;
    margin-bottom:60px
}
.productCart h2 {
    margin:20px 0px;
}

.cart-container {
    display: flex;
    flex-direction: column;
 }
.aside-cart-container {
    display: flex;
    background: white;
    margin: 6px;
    padding: 15px;
    flex-direction: column;
    border-radius: 4px;
 }

 .cart-item-container {
    display: flex;
    background: white;
    margin: 6px;
    padding: 15px;
    flex-direction: column;
    border-radius: 4px;
 }

 .cart-item-container .arrow-item {
    display: flex;
    border-bottom: 1px solid #ebebeb;
    padding:10px 0px;
 }
 .cart-item-container .arrow-item .img-cart {
    position: relative;
    margin-right: 10px;
 }
 .arrow-item .img-cart > div {
    height: 90px;
    position: relative;
    overflow: hidden;
    width: 90px;
    border-radius: 100%;
 }
 .arrow-item .img-cart img {
    height: 100%;
    position: absolute;
 }

 .cart-item-container .arrow-item ul {
    display:flex;
    flex:1;
    padding:10px;
    flex-direction: column;
 }
 
 .arrow-item ul li:first-of-type {
  margin-bottom: 12px;
  font-weight: 600;
 }

 h4.cart-item-price {
    padding:10px
 }
 .img-cart img {
     width: 100%;
 }
 
 .aside-cart-container ul {
     margin-top: 20px;
 }
 .aside-cart-container ul li {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px
}
.aside-cart-container ul li:last-of-type {
    border-top:1px solid #ebebeb;
    padding:15px 0px
}

.aside-cart-container ul li span:first-of-type,
.aside-cart-container ul li:last-of-type span:last-of-type{
    font-weight: 600;
}

 /* ---@media querys---*/
@media (min-width: 361px){
}

@media (min-width: 768px){
    .cart-container {
        flex-direction: row;
    }
    .cart-item-container {
        flex: 2;
    }
    .aside-cart-container {
        flex: 1;
    }

}
  