*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    /* font-family: "Poppins"; */
}
body{
    margin: 0;
    /* font-family: "Inconsolata"; */
    background-color: #fafafa;
}
img{
    display: block;
    width: 100%;
}
/* ----MAIN HEADER----- */
.main-header{
    /* padding: 0 0px; */
    background-color: #fafafa;
}
.main-header__container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 5px;
}
.main-header__img{
    width: 40%;
    /* height: 40px;
    object-fit: scale-down ;  */
}
.main-header__title{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: #454546;
    font-family: "Poppins";
}
.icon-menu{
    height: 10%;
    font-size: 1.5em;
    border: 1px solid #454546; 
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    /* margin-left: auto; */
    margin-top: 20px;
} 
.main-header__link__txt{
    display: none;
    color: #333;
    text-decoration: none;
}
.main-header__link i{
    color: #333;
    text-decoration: none;        
}
.main-header__btn{
    display: block;
    border: 1px solid #454546; 
    /* padding: 10px 15px; */
    padding: 5px 10px;
    text-decoration: none;
    color: #454546;
}
.main-header__input{
    display: block;
    padding: 5px 10px;
    width: 50%;    
}
main{
    padding: 10px;
}
/* Estilos del menu */
.main-nav{
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 99999999;
    /* position: relative; */
}
.menu{
    display: flex;
    position: absolute;    
    top: 130px;
    left: 0;
    background-color: #212121;
    list-style: none;
    padding: 0px;
    margin: 0;        
}
.menu__item{    
    text-align: center;   
    margin: auto;
}
.menu__link{
    padding: 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    display: block;
}
.menu__link:hover{
    background-color: #fff;
    color: #212121;
}
.mostrar{
    opacity: 1;
    visibility: visible;
}
/* SLIDER */
/* ver tuto actualizando un slider */

/* ESTILOS DE  PRODUCTOS */
/* SAS preporcesador  */
.container-products{
    display: grid;
    /* definimos la propiedad para que este en 2 col y ocupen el mismo espacio */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;    
} 
.product{
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background: white;
}
.product:before{
    /* content: new -> agrega texto con pseudo elementos | Label en los productos*/
        color: #fff;
    content: "New";
    background-color: #FF4e00;
    padding: 5px;
    position: absolute;
    top: 10px; 
    right: 20px;
    width: 50px;
    transform: rotate(-90deg);   
}
/* .product__img{    
    justify-content: center;
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
    text-align: center;
    object-fit: scale-down ; 
}  */
.product a{
    text-decoration: none;
    color: #444;
} 
.product__title{
    text-align: center;
}
.product__price{
    color: #ff4e00;
    font-weight: bold;
    margin-top: 10px;
}
.product__icon{
    display: block;
    margin-top: 10px;
}
.container__testimonial{
    text-align: center;    
    background-color: #f7f7f7;
    padding: 10px;
    margin: 10px 0;
}
.testimonial__txt{
    color: #333;
}
.container-tips{
    margin: 20px 10px;
    text-align: center;
    padding: 20px;
}
.btn-shop{
    display: block;
    border: 2px solid #12af9a;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    margin: 20px auto;
    transition: all 0.5s;    
}
.btn-shop:hover{
    background-color: #12af9a;
    color: #fff;
}
.tip i{
    font-size: 1.5em;
    color: #333;
    padding: 20px 0;
}
/* FOOTER */
.main-footer{
    background-color: #151515;
    color: #fff;
    padding: 20px 20px;
}
.footer__title{
    border-bottom: 1px dotted #555;
    padding-bottom: 20px ;
}
.footer__txt{
    text-decoration:none;
    color: #555;
    padding: 10px 0;    
}
.footer__link{
    color: #555;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.footer__input{
    background-color: #151515;
    width: 100%;
    display: block;
    padding: 20px;
    border: 1px solid #555;
}
footer i{
    color: #555;
}
.copy{
    margin-top: 20px;  
    color: #555;
}

/* ESTILOS RESPONSIVE TABLET */
@media screen and (min-width: 768px){

}
/* ESTILOS RESPONSIVE WEB */
@media screen and (min-width: 1024px){
    .container{
        /* Limitar contenido del Header */
        width: 1010px;
        margin: auto;
    }
    .icon-menu,
    .main-header__link{
        /* display: none !important; ->  */
        display: none;
    }
    .main-header__link__txt{
        display: contents;
    }
    .main-header .container-flex{
        display: flex;
        align-items: center;
        justify-content: space-around; 
    }
    .main-header__container{
        flex-wrap: wrap;
        align-content: flex-start; 
    }
    .main-header__txt{
        width: 100%;
        text-align: center;

    }
    /* .main-header__container:nth-child(2){
        order:-1;
        width: 30%;
    } */
    .main-header__container:nth-child(3){
        width: 30%;
        padding: 0 20px;
        padding-left: 50px;
    }
    .main-header__img{
        width: 80%;        
    }    
    .main-header__title{
        width: 100%;
        font-size: 5em;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }
    .main-header__link{
        margin-bottom: 20px;     
    }
    .main-header__link__txt{
        margin-bottom: 10px;     
    }
    .main-header__btn{
        width: 85%;
        padding: 8px;
        margin: 10px 0;
    }
    .main-header__input{
        width: 85%;
    }
    .main-nav{
        opacity: 1;
        visibility: visible;
        width: 100%; 
        margin-top: 20px;       
    }
    .menu{
        position: static;
        display: flex;
        background: none;
        width: 100%;
    }
    .menu__link{
        color: #333;
    }
    .menu__link:hover{
        background-color: #333;
        color: #fff;
    }
    .banner-psc{
        /* display: flex; */
        /* justify-content: center; 
        align-items: center; */ 
        margin: auto ;
        width: 100%;
        /* height: 10%;         */
    }
    .container-products{
        grid-template-columns: repeat(4,1fr);
        grid-gap: 5px;
    }
    .product__img{
        height: 150px;
    }
    .container__testimonials{
        font-size: 1.3em;
    }
    .container-editor{
        display:flex;
        justify-content: space-between;
    }
    .editor__item{
        width: 48%;
    }
    .main-footer{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 10px;
    }
    .copy{
        margin-top: 20px;
        grid-column-start: span 4;
        text-align: center;
    }

}
@media screen and (min-width: 1080px){
    .container{
        width: 1010px;
        margin: auto;
    }
    .main-header__container:nth-child(2){
        font-size: 1.2em;
    }    
    .main-header__container:nth-child(3){
        padding-left: 60px;
    }    
}    
/* ESTILOS RESPONSIVE WEB */
@media screen and (min-width: 1024px){
     .container{ 
        /* Limitar contenido del Header  */
        width: 1010px;
        margin: auto;
    }
} 

