<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %> 
   
        <main class="main">
            <div class="container">  
                <h2 class="main-title">Ayuda</h2>

                
                <h5>Le pedimos disculpas ante cualquier inconveniente con el que se pueda encontrar. Por favor, comuniquese con el siguiente numero:</h5>
                <h4>+54011-123456</h4>
                <br>
                <h6>Especificar</h6>
                <br>
                <p>Numero de compra</p>
                <br>
                <p>Email</p>     
                <br>
                <p>Numero de documento</p>
                <br>
                <p>Producto Comprado</p>
                <br>
                <p>Producto Obtenido</p>
                <br>
                <p>Producto Deseado</p>
                <br>

                <p>Si desea cambio o reembolso</p>
                <br>
                <br>
                <!-- <section class="container-products">
                    <input class='help'type="text" placeholder="Estamos atentos...">
                    <button>Enviar</button>
                </section> -->
            </div>
        </main>

        </main>
        <%- include('./partials/footer') %>                
    </body>
</html>
