<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %> 
   
        <main class="main">
            <div class="container">  
                <h2 class="main-title">Ayuda</h2>
                
                <h5>Le pedimos disculpas ante cualquier inconveniente con el que se pueda encontrar.</h5>
                <h5>Por favor, comuniquese con el siguiente numero:</h5>
                <br>
                <h5><strong>+54011-123456</strong></h5>
                <br>            
                
            </div>
        </main>

        </main>
        <%- include('./partials/footer') %>                
    </body>
</html>
