<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pegasus Sport Center</title>    
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/productDetail.css">
</head>
<body>
    <header>     
        <div class="main-header">
            <div class="container-flex">
                <div class="main-header__container"> 
                  <a href="/"><img class="main-header__img" src="images/logo-dCompras-01.svg" alt="Logo dCompras"></a>       
                </div>                               
            </div>            
        </div> 
    </header>
    <div class="banner-psc">
        <img src="images/carrusel3.jfif" alt="Banner">
    </div> 
 <main>
   <section class="productDetails">
    <!-- <div class="breadcrumbs">
       Home > Categoria X > Zapatillas Grand Court Se -blanco adidas
    </div> -->
    <div class="detail-container">
        <div class="left-col">
          <div class="img-product">
              <img src="images/demo-product-1.jpg" />
          </div>
          <div class="carrousel-img">
            <div><img src="images/demo-product-2.jpg" /></div>
            <div><img src="images/demo-product-3.jpg" /></div>
            <div><img src="images/demo-product-4.jpg" /></div>
          </div>
        </div>
        <div class="right-col">
            <div class="reputation">
                <a>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </a>
               <span> | 36 vendidos</span>
            </div>
             <div class="product-info">
                 <h2 class="product-name">Zapatillas Grand Court Se -blanco adidas</h2>
                 <div class="img-product">
                    <img src="images/demo-product-1.jpg" />
                </div>
                 <h3 class="product-price">$11.499</h3>
                 <p class="stock">Stock disponible</p>
             </div>
             <div class="quantity-btn">
                 <button class="minus">-</button>
                 <input type="number" class="quantity-prodcut" value="1">
                 <button class="plus">+</button>
             </div>
             <div class="actions">
                 <button class="btn primary-btn">Comprar</button>
                 <button class="btn secondary-btn">Agregar al carrito</button>
             </div>
             <div class="product-description">
                 <p>Descripción del producto</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
             </div>
        </div>
     </div>
    </section>
  </main>
  <footer class="main-footer">
    <!-- Atajo EMET ->.footer__section*>h2.footer__title+p.footer_txt -->
    <div class="footer__section">
        <h2 class="footer__title">Interés</h2>
        <a href="#" class="footer__txt"><p class="footer__txt">Nike</p></a>
        <a href="#" class="footer__txt"><p class="footer__txt">Adidas</p></a>
        <a href="#" class="footer__txt"><p class="footer__txt">Puma</p></a>
        <!-- <p class="footer__txt">Tendencias</p>  -->
        <a href="#"><i class="footer__txt fab fa-twitter"> | </i></a>
        <a href="#"><i class="footer__txt fab fa-instagram"> | </i></a>
        <a href="#"><i class="footer__txt fab fa-facebook"></i></a>
    </div>
    <div class="footer__section">
        <h2 class="footer__title">Dirección :</h2>
        <p class="footer__txt">Segurola y Havana 4310, 7° Piso</p>
        <h2 class="footer__title">Contacto</h2>
        <p class="footer__txt">Teléfono: +54 011 123456</p>
        <p class="footer__txt">Correo: info@dventas.com</p>
    </div>        
    <div class="footer__section">
        <h2 class="footer__title">Ayuda</h2>
        <a href="" class="footer__link">Comprar</a>
        <!-- <a href="" class="footer__link">Home</a> -->
        <a href="" class="footer__link">Acerca de</a>
        <a href="" class="footer__link">Contactanos</a>
    </div>
    <div class="footer__section">
        <h2 class="footer__title">Subscripción:</h2>
        <p class="footer__txt">Subscribite a nuestro canal ....</p>
        <input type="email" class="footer__input" placeholder="Ingresá tu em@il ...">
    </div>
    </div>        
    <p class="copy">© 2021 dCompras. All Rigths Reserved | Design by Pegasus</p>
</footer>
</body>
</html>