<footer class="main-footer">
    <!-- Atajo EMET ->.footer__section*>h2.footer__title+p.footer_txt -->
    <div class="footer__section">
        <h2 class="footer__title">Interés</h2>
        <a href="#" class="footer__txt"><p class="footer__txt">Nike</p></a>
        <a href="#" class="footer__txt"><p class="footer__txt">Adidas</p></a>
        <a href="#" class="footer__txt"><p class="footer__txt">Puma</p></a>
        <!-- <p class="footer__txt">Tendencias</p>  -->
        <a href="#"><i class="footer__txt fab fa-twitter"> | </i></a>
        <a href="#"><i class="footer__txt fab fa-instagram"> | </i></a>
        <a href="#"><i class="footer__txt fab fa-facebook"></i></a>
    </div>
    <div class="footer__section">
        <h2 class="footer__title">Dirección :</h2>
        <p class="footer__txt">Segurola y Havana 4310, 7° Piso</p>
        <h2 class="footer__title">Contacto</h2>
        <p class="footer__txt">Teléfono: +54 011 123456</p>
        <p class="footer__txt">Correo: info@dventas.com</p>
    </div>        
    <div class="footer__section">
        <h2 class="footer__title">Ayuda</h2>
        <a href="" class="footer__link">Comprar</a>
        <!-- <a href="" class="footer__link">Home</a> -->
        <a href="" class="footer__link">Acerca de</a>
        <a href="" class="footer__link">Contactanos</a>
    </div>
    <div class="footer__section">
        <h2 class="footer__title">Subscripción:</h2>
        <p class="footer__txt">Subscribite a nuestro canal ....</p>
        <input type="email" class="footer__input" placeholder="Ingresá tu em@il ...">
    </div>
    </div>        
    <p class="copy">© 2021 dCompras. All Rigths Reserved | Design by Pegasus</p>
</footer>