<body>
<h2>Esta es la pagina de detalle de usuarios </h2>

    <div class="user">
    <article>
            <p class="name"> <%= user.first_name %></p>
            <p class="lastName"><%= user.last_name %></p>
            <h4 class="email"> <%= user.email %></h4>
     </article> 
     <br>
    <section>
        <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
        <!-- Ir a index.ejs y copiar botones y estilo para -> ADD -->
        <a class="botonAgregar" href="/users/create">Agregar Usuario</a>
        <a class="botonVolver" href="/users">Listado de Usuarios</a>
        <a class="botonModificar" href="/users/edit/<%= user.id %>">Modificar Usuario</a>        
    </section>                                
   
    </div>
</body>
