<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Register</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <header>     
        <div class="main-header">
            <div class="container-flex">
                <div class="main-header__container"> 
                  <a href="/"><img class="main-header__img" src="images/logo-dCompras-01.svg" alt="Logo dCompras"></a>       
                </div>                               
            </div>            
        </div> 
    </header>
    <div class="container">
        <div class="login-container">
            <div class="register">
                <h2>Iniciar Sesión</h2>
                    <form action="/">
                        <input type="text" placeholder="Usuario o Mail" class="usuario"> 
                        <input type="password" placeholder="Contraseña" class="pass">
                        <!-- ]<input type="password" placeholder="Confirmar contraseña" class="repass"> -->
                        <input type="submit" class="submit" value="INGRESAR">
                        <a href="#"> ¿Olvidaste la contraseña?</a>
                    </form>
            </div>
            <div class="login">
                <!-- <h2>Iniciar Sesión</h2> -->
                <!-- <h3>Acceder con ...</h3> -->
                <div class="login-items">
                    <button class="fb"><i class="fab fa-facebook-f"></i>   Facebook</button>
                    <button class="tw"><i class="fab fa-twitter"></i>   Twitter</button>
                    <button class="gmail"><i class="fab fa-google"></i>   Gmail</button> 
                    <a href="/register" target="_blank">  REGISTRARSE</a>
                </div>
            </div>
        </div>
    </div>
 
</body>
</html>